<% if logged_in? %>

　<div class="img_block">
    <%= image_tag "REP.CAM.jpg", alt:"" , id:"assets", class: "image", width: "1100px" %>
  </div>  
  <h1>
      <br>
      <br>
  </h1>
  <div class="text-center">
   <%= link_to '新規投稿する', new_post_path, class: 'btn btn-lg btn-primary' %>
  <h1>
    <br>
    <br>
  </h1>        
  <h1>投稿一覧</h1>
  <h3>
    <br>
    <br>
  </h3>
  <div class="center jumbotron">
　  <div class="text-center">
      <h4><%= render 'posts/posts', posts: @posts %></h4>
    </div>
  </div>
</div>
<% else %>
  <div class="img_block">
    <%= image_tag "REP.CAM.jpg", alt:"" , id:"assets", class: "image", width: "100%" %>
  </div>  
  <h1>
      <br>
      <br>
  </h1>
  <div class="text-center">
    <h2>ユーザー登録をして、自慢のキャンプスタイルを投稿しよう！</h2><br>
    <h2>↓　↓　↓　↓</h2>
      <%= link_to 'ユーザー登録', signup_path, class: 'btn btn-lg btn-primary' %>
      <br>
    <br>
  </h1>
  <h2>
    <br>
    <br>
  </h2>
  <h1>投稿一覧</h1>
  <h3>
    <br>
    <br>
  </h3>
  <div class="center jumbotron">
　  <div class="text-center">
      <h4><%= render 'posts/posts', posts: @posts %></h4>
    </div>
  </div>  
  <h3>
    <br>
    <br>
  </h3>
  </div>  
<% end %>